{
  "extends": [
    "defaults",
    "airbnb",
    "prettier"
  ],
  "rules": {
    "radix": 0,
    "no-prototype-builtins": 0,
    "no-return-await": 0,
    "no-empty": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ]
  },
  "plugins": [
    "prettier"
  ]
}